.places {
   max-width: 76.875%;
   margin: 92px auto;
}

@media screen and (max-width: 1024px) {
   .places {
      max-width: 928px;
      width: 90.625%;
   }
}

@media screen and (max-width: 768px) {
   .places {
      max-width: 720px;
      width: 93.75%;
      margin: 90px auto;
   }
}

@media screen and (max-width: 320px) {
   .places {
      max-width: 320px;
      margin-top: 41px auto;
      width: 100%;
      margin: 64px auto 0 auto;
   }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
   .places {
      max-width: 95%;
   }
}