.lead__title {
    max-width: 56.25%;
    min-height: 15.625%;
    margin: 56px 0 32px 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        max-width: 70.31%;
        margin-top: 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 820px) {
    .lead__title {
        max-width: 94%;
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (min-width: 1px) and (max-width: 500px) {
    .lead__title {
        margin-bottom: 16px;
        max-width: 90%;
        font-size: 40px;
        line-height: 44px;
    }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
    .lead__title {
        margin-bottom: 16px;
        max-width: 90%;
        font-size: 60px;
        line-height: 64px;
    }
}