.footer__links{
    display: inline-block;
   
    
max-height: 18px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: #FFFFFF;
margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
    .footer__links {
        margin-left: 48px;
    }
}
@media screen and (max-width: 768px) {
    .footer__links {
        margin-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer__links {
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        
        
        
    }
}