.place__paragraph {
    height: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    color: #FFFFFF;
    margin: 0 0 26px;
    padding: 0;
    max-width: 484px;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        max-width: 94%;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
        line-height: 163%;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
        margin: 10px auto 25px auto;
    }
}