.cover__title {
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    z-index: 10;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .cover__title {
        line-height: 35px;
        font-size: 32px;
        width: 90%;
    }
}

@media screen and (min-width: 426px) and (max-width: 521px) {
    .cover__title {
        line-height: 55px;
        width: 100%;
        font-size: 40px;
    }
}