.header__lang-links {
    display: grid;
    grid-template-columns: 30px auto;
    grid-column-gap: 30px;
}

@media screen and (max-width: 320px) {
    .header__lang-links {
        grid-column-gap: 18px;
    }
}