.intro__title {
    max-height: max-content;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 92px 0 40px 0;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .intro__title {
        max-width: 720px;
        width: 93.75%;
    }
}

@media screen and (max-width: 768px) {
    .intro__title {
        max-width: 720px;
        width: 93.75%;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin-top: 64px;
        width: 90%;
        margin-bottom: 40px;
    }
}